<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <h1>Create a New Account!</h1>
    <form action="/auth/sign-up" method="post">
      <label for="username"><b>Username</b></label>
      <input type="text" name="username" id="username" placeholder="Enter username" />

      <label for="password"><b>Password</b></label>
      <input type="password" name="password" id="password" placeholder="Enter password" />

      <label for="confirmPassword"><b>Confirm Password</b></label>
      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" />

      <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/auth/sign-in">Login</a></p>
  </body>
</html>