<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css">
    <title>Sign In</title>
  </head>
  <body>
    <div class="navbar-container">
    <%- include('../navbar') %>
    </div>

    <main class="auth-section">
      <h1 class="auth-title">Sign In</h1>
      <form action="/auth/sign-in" method="POST" class="auth-form">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" id="username" placeholder="Enter username" />

        <label for="password"><b>Password</b></label>
        <input type="password" name="password" id="password" placeholder="Enter password" />

        <button type="submit">Sign In</button>
      </form>

      <p class="auth-link">Don't have an account? <a href="/auth/sign-up">Sign Up</a></p>
    </main>
  </body>
</html>