<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
</head>
<body>
  <h1>About Us</h1>
  <p>
    Our website is designed to be a simple and enjoyable space for movie and series lovers.
    It works like a personal blog where you can save the films you have watched, write your
    own reviews, and keep track of your experiences.
  </p>
  <p>
    We believe that sharing opinions and reading reviews from other users makes watching
    movies and series more exciting. This platform is not just about storing information,
    but about building a community where everyone can express their thoughts and discover
    new content together.
  </p>
  <p>
    In short, our goal is to make it easy for you to organize your film journey, connect
    with others, and enjoy the world of movies and series in a simple way.
  </p>
</body>
</html>