<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devicSe-width, initial-scale=1.0">
    <title>Add Film</title>
</head>

<body>
    <h1> add Film</h1>

    <form action="/film/create" method="post">

        <label for="filmName">Film Name</label>
        <input id="filmName" name="filmName" type="text">

        <label for="genre"> Genre</label>
        <select name="genre" id="genre">
        <% genres.forEach((oneGenre)=>{%>
            <option value="<%= oneGenre%>"><%= oneGenre%></option> 
        <% }) %>    
        </select>

        <label for="ageRating"> Age Rating</label>
        <select name="ageRating" id="ageRating">
            <% ageRating.forEach((oneRating)=>{%>
                <option value="<%= oneRating %>"><%= oneRating %></option>p
            <% }) %>
        </select>
        

        <label for="Rating">Rating</label>
        <input id="Rating" name="rating" type="number" min="1" max="5">


        <label for="review">Review</label>
        <input id="review" name="review" type="text">

        <button> Confirm</button>


    </form>

</body>

</html>