<div>
    <% if (user){ %>
        <a href="/auth/sign-out">Logout</a>
        <a href="/"> Home Page </a>

        <% } else{ %>
            <a href="/auth/sign-up">Sign up</a>
            <a href="/auth/sign-in">Login</a>
            <a href="/film/create"> Add Film</a>
            <a href="/series/create"> Add series</a>
            <a href="/"> Home Page </a>

            <% } %>
</div>