<% if (user) { %>
    <a href="/">Home</a>
    <a href="/film/create">Add Film</a>
    <a href="/series/create">Add Series</a>
    <a href="/auth/sign-out">Logout</a>
    <a href="/community">Community</a>
<% } else { %>
    <a href="/">Home</a>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Login</a>
    <a href="/community">Community</a>
<% } %>