body {
    font-family: Arial, sans-serif
}

.create-navbar {
  background-color: #333; 
  padding: 10px;       
  display: flex;
  justify-content: center;  
  gap: 20px; 
}
.create-navbar a {
  color: white;           
  font-weight: bold;      
}
.film-section {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.film-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #0e0303;
  padding-bottom: 10px;
}

.film-form {
  display: flex;
  flex-direction: column;
}

.film-form label {
  margin: 10px 0 5px;
  color: #333;
}

.film-form input,
.film-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.film-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.film-form button:hover {
  background-color: #fa6767;
  color: #333;
}

.film-link {
  text-align: center;
  margin-top: 15px;
}

.film-link a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.film-link a:hover {
  color: #ff0000;
}