body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.edit-navbar {
    background-color: #333; 
  padding: 10px;       
  display: flex;
  justify-content: center;  
  gap: 20px; 
 
}

.edit-navbar a {
  color: white;           
  font-weight: bold;      
}

.edit-section {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.edit-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #0e0303;
  padding-bottom: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  margin: 10px 0 5px;
  color: #333;
}

.edit-form input,
.edit-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.edit-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.edit-form button:hover {
  background-color: #fa6767;
  color: #333;
}

.edit-link {
  text-align: center;
  margin-top: 15px;
}

.edit-link a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.edit-link a:hover {
  color: #ff0000;
}